@import "tailwindcss/utilities";
@import "tailwindcss/base";
@import "tailwindcss/components";

body::-webkit-scrollbar-track,
.header #menu-main-menu::-webkit-scrollbar-track {
	@apply bg-BoldBlue;
}

body::-webkit-scrollbar,
.header #menu-main-menu::-webkit-scrollbar {
  @apply bg-BoldBlue w-[0px]
}

body::-webkit-scrollbar-thumb,
.header #menu-main-menu::-webkit-scrollbar-thumb {
	@apply bg-BrightTurquoise;
}

@layer base {
  *,
  ::before,
  ::after {
    @apply box-border;
  }
  body {
    @apply p-0 m-0 font-Barlow text-Font text-16 leading-[22px] relative overflow-x-hidden;
  }
  body.menu-open {
    @apply overflow-hidden;
  }
  .container-fluid {
    @apply px-100 xlscreen:px-50 mdscreen2:px-20 mdscreen:px-20 w-full;  
  }
  .container-small {
    @apply px-40 xlscreen:px-20 mdscreen:px-15 w-full;
  }
  p {
    @apply m-0 text-16 leading-[22px] font-400;
  }
  a {
    @apply no-underline;
  }
  a,
  button,
  input,
  textarea,
  select {
    @apply outline-0 no-underline;
    box-shadow: none;
  }
  a:hover {
    @apply transition-all duration-300 delay-150 ease-linear;
  }
  ul {
    @apply p-0 mt-0;
  }
  ul li {
    @apply list-none;
  }
  img {
    @apply block;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0 font-Barlow;
  }
  h1.big,
  span.big {
    @apply text-[70px] lg:text-[90px] xl:text-[140px] leading-[100%];
  }
  span.small {
    @apply text-[32px] lg:text-[55px] leading-[100%];
  }
  h1,
  .h1 {
    @apply text-40 lg:text-56 leading-[120%];
  }
  h1.sub {
    @apply text-48 xl:text-[75px] leading-[120%];
  }
  .bold h2 {
    @apply text-40 lg:text-56 leading-[120%];
  }
  h2,
  .h2 {
    @apply text-32 lg:text-48 leading-[120%];
  }
  h3,
  .h3 {
    @apply text-24 lg:text-32 leading-[120%];
  }
  h4,
  .h4 {
    @apply text-20 leading-26 lg:text-24 lg:leading-[120%];
  }
  h4.sub {
    @apply text-20 leading-[120%];
  }
  h5,
  .h5 {
    @apply text-16 leading-[26px];
  }
  h5.sub {
    @apply text-14 leading-[24px];
  }
  h6,
  .h6 {
    @apply text-12 leading-[22px];
  }

  .content {
    @apply relative block w-full;
  }
  .content p {
    @apply font-Barlow;
  }
  .content p a {
    @apply no-underline ease-in duration-300 delay-150 text-BoldBlue font-700 font-Barlow;
  }
  .content p {
    @apply text-Font text-16 leading-26 tracking-0.64 font-400 not-italic relative block mb-20 last:mb-0;
  }
  .content.big p {
    @apply text-24 leading-[120%];
  }
  .content p a {
    @apply hover:underline;
  }
}

@layer components {
  .btn {
    @apply inline-block text-16 tracking-0.64 font-Barlow font-700 not-italic leading-22 border-0 border-solid rounded-10;
  }
  .btn-BoldBlue {
    @apply bg-BoldBlue text-White px-28 pt-10 pb-14 relative overflow-hidden capitalize duration-300 delay-150 ease-linear z-1;
  }
  .btn-BoldBlue:hover {
    @apply bg-BrightTurquoise text-BoldBlue;
  }

  .regular__transition {
    @apply transition-all duration-500 ease-in-out;
  }
  .line-clamp-two {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .line-clamp-three {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .line-clamp-four {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .title {
    @apply block relative w-full;
  }
  .title h1,
  .title h2,
  .title h3,
  .title h4,
  .title h5 {
    @apply block not-italic;
  }

  .title-white h1,
  .title-white h2,
  .title-white h3,
  .title-white h4,
  .title-white h5,
  .title-white h6 {
    @apply text-White uppercase font-700 tracking-2.24;
  }
  .title-white span {
    @apply text-White text-24 lg:text-32 leading-[120%] capitalize font-300 tracking-1.28;
  }

  .title-Black h1,
  .title-Black h2,
  .title-Black h3,
  .title-Black h4,
  .title-Black h5,
  .title-Black h6 {
    @apply text-Black uppercase font-700 tracking-2.24;
  }
  .title-Black span {
    @apply text-BoldBlue text-24 lg:text-32 leading-[120%] capitalize font-300 tracking-1.28;
  }

  .title-DarkBlue h1,
  .title-DarkBlue h2,
  .title-DarkBlue h3,
  .title-DarkBlue h4,
  .title-DarkBlue h5,
  .title-DarkBlue h6 {
    @apply text-DarkBlue;
  }

  .white p,
  .white h4 {
    @apply text-White;
  }

  .btn-inline {
    @apply flex xsscreen3:flex-col flex-wrap items-center justify-center relative w-full;
  }

  .swiper-button-next,
  .swiper-button-prev {
    @apply after:hidden;
  }

  .img-fluid {
    @apply w-full h-full object-cover;
  }

  .swiper-pagination {
    @apply flex flex-wrap items-center justify-center gap-6;
  }

  .swiper-pagination .swiper-pagination-bullet {
    @apply !m-0 w-[15px] h-[15px] bg-transparent opacity-100 border-1 border-solid ;
  }
  .swiper-pagination .swiper-pagination-bullet-active {
    @apply bg-transparent;
  }

  .wpcf7-spinner {
    @apply !hidden;
  }

  .bg-pattern_one {
    @apply relative;
  }
  .bg-pattern_one:before {
    content: "";
    @apply absolute top-0 left-0 w-full h-full bg-patterns_one -z-1;
  }

  .bg-pattern_two {
    @apply relative;
  }
  .bg-pattern_two:before {
    content: "";
    @apply absolute top-0 left-0 w-full h-full bg-patterns_two -z-1;
  }

  .left-border {
    @apply relative;
  }
  .left-border:before {
    content: "";
    @apply lgscreen:hidden block absolute top-0 xl:-left-[55px] lg:-left-[40px] w-[1px] h-full bg-BoldBlue;
  }
}

@layer utilities {
  /* Header Start */
  @keyframes smoothScroll {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes smoothup {
    100% {
      display: none;
    }
  }
  @keyframes smoothdown {
    0% {
      display: block;
    }
  }
  .announcement.up {
    animation: smoothup -0.1s;
  }
  .announcement.down {
    animation: smoothdown 0s forwards;
  }
  .announcement.up > .container-fluid {
    @apply hidden;
  }
  .announcement-bar {
    @apply lg:max-w-[calc(100%_-_240px)] lgscreen:text-center;
  }
  .announcement-bar h5,
  .announcement-bar h5 a {
    @apply text-White;
  }
  .announcement-bar h5 a {
    @apply underline duration-300 delay-150 ease-linear hover:text-BrightTurquoise;
  }
  .announcement-info .tel a {
    @apply text-16 font-700 text-BrightTurquoise duration-300 delay-150 ease-linear hover:underline;
  }
  .announcement-info .tel svg {
    @apply mt-[4px]
  }
  .announcement .announcement-info .btn-search.disable {
    @apply hidden;
  }
  header.header {
    @apply absolute bg-transparent top-0 left-0 w-full z-999 rounded-[0px];
  }
  .logo a,
  .logo a svg {
    @apply block
  }
  header.is-sticky {
    animation: smoothScroll 0.5s forwards;
    z-index: 1030;
    @apply fixed top-0 bg-banner_gradient rounded-bl-[50px] rounded-br-[50px] drop-shadow-menu;
  }
  .navbar-toggler {
    @apply cursor-pointer;
  }
  /* .navbar {} */
  .navbar .mobile-menu-main {
    @apply xl:flex xl:flex-wrap xl:justify-center xl:items-center xl:m-0 xl:p-0 xl:w-full;
  }
  .navbar ul > li {
    @apply flex flex-wrap m-0 p-0 static justify-center transition-all duration-500 ease-in-out;
  }
  .navbar ul > li > a {
    @apply flex lg:flex-wrap m-0 p-0 xl:px-16 relative text-16 leading-[55px] font-700 tracking-[0] text-White duration-500 ease-in-out lgscreen:before:hidden;
  }
  .navbar ul > li:hover > a,
  .navbar ul > li.current-menu-item > a,
  .navbar ul > li.menuitem-active > a {
    @apply text-BrightTurquoise;
  }
  .navbar ul > li .submenu-button {
    @apply hidden;
  }
  .navbar ul > li > ul.sub-menu {
    @apply bg-White opacity-0 -z-100 invisible gap-[55px] m-0 py-40 px-40 lg:flex flex-wrap items-start justify-center rounded-10 absolute top-[100%] drop-shadow-menu transition-all duration-300 delay-150 ease-linear;
  }
  .navbar ul > li > ul.sub-menu:before {
    content: "";
    @apply absolute -top-[15px] left-50_per translate-x-minus_50 w-[22px] h-[20px] bg-[url(./../../images/polygon.svg)] bg-cover bg-no-repeat bg-center;
  }
  .navbar ul > li:hover > ul.sub-menu {
    @apply opacity-100 visible z-1;
  }
  .navbar ul > li > ul.sub-menu ul {
    @apply flex flex-col items-start gap-7;
  }
  .navbar ul > li > ul.sub-menu li {
    @apply p-0;
  }
  .navbar ul > li > ul.sub-menu li a {
    @apply p-0 font-700 tracking-0.64 text-16 leading-26 text-Font transition-all duration-500 ease-in-out before:hidden;
  }
  
  .navbar ul > li > ul.sub-menu li a:hover,
  .navbar ul > li > ul.sub-menu li.menuitem-active a {
    @apply text-BoldBlue;
  }
  .search-bar.active {
    @apply block;
  }
  /* Header End */

  /* Home Banner Start */
  .herobanner-wrapper {
    @apply flex flex-col items-center justify-center w-full m-0 p-0 relative;
  }
  .moveme {
    @apply relative
  }
  /* Home Banner End */

  /* Footer Start */
    .footer-menu a {
      @apply text-White text-16 leading-26 tracking-0.64 font-700 not-italic relative block capitalize hover:text-BrightTurquoise duration-300 delay-150 ease-linear;
    }
    .copyright p {
      @apply text-White text-16 leading-26 tracking-0.64 font-700 not-italic relative block capitalize mb-20 last:mb-0
    }
    .social-media a img {
      @apply duration-300 delay-150 ease-linear;
    }
    .social-media a:hover img {
      @apply scale-1.1;
    }
    /* techyscouts logo start */
    #techyscouts-logo {
      display: inline-block;
      fill: currentColor;
      height: 20px;
      width: auto;
      vertical-align: middle;
    }

    .techyscouts-credit-link:hover #techyscouts-logo-heart,
    .techyscouts-credit-link:focus #techyscouts-logo-heart {
      animation: ts-heart-beat 2s infinite ease-in-out 0.6s;
    }

    .techyscouts-credit-link:hover #techyscouts-logo-text,
    .techyscouts-credit-link:focus #techyscouts-logo-text {
      animation: ts-draw-logo 2s forwards;
    }

    .techyscouts-credit-link:hover #techyscouts-logo-line-1,
    .techyscouts-credit-link:hover #techyscouts-logo-line-2,
    .techyscouts-credit-link:focus #techyscouts-logo-line-1,
    .techyscouts-credit-link:focus #techyscouts-logo-line-2 {
      animation: ts-swoop-down 0.5s forwards ease-out;
    }

    .techyscouts-credit-link:hover #techyscouts-logo-line-2,
    .techyscouts-credit-link:focus #techyscouts-logo-line-2 {
      animation-name: ts-swoop-up;
    }

    @keyframes ts-heart-beat {
      5% {
        transform: scale(1.1);
        fill: #00DDF7;
      }
      10% {
        transform: scale(0.9);
      }
      15% {
        transform: scale(1.2);
        fill: #00DDF7;
      }
      40% {
        transform: scale(1);
        stroke-width: 0;
      }
    }

    @keyframes ts-draw-logo {
      0% {
        stroke-dasharray: 2600;
        stroke-dashoffset: 2600;
      }

      100% {
        stroke-dashoffset: 0;
      }
    }

    @keyframes ts-swoop-down {
      0% {
        transform: translateY(-100%) rotate(10deg);
      }
    }

    @keyframes ts-swoop-up {
      0% {
        transform: translateY(100%) rotate(-10deg);
      }
    }
    /* techyscouts logo end */

  /* -- Footer End -- */

  /* advantages Start */
    .advantages-wrapper .card ul {
      @apply flex flex-col items-start justify-start m-0 p-0 xsscreen3:text-center xsscreen3:items-center;
    }
    .advantages-wrapper .card ul li {
      @apply relative text-16 font-700 leading-26 text-DarkBlue tracking-0.64 capitalize mb-8 pb-8 last:pb-0 last:mb-0;
    }
    .advantages-wrapper .card ul li:after {
      content: "";
      @apply absolute bottom-0 left-0 w-full h-[1px] bg-divider-line;
    }
    .advantages-wrapper .card ul li:last-child::after {
      @apply hidden;
    }
    .advantages-wrapper .card .btn-links-blue {
      @apply flex items-end justify-center gap-3 text-BoldBlue duration-300 delay-150 ease-linear hover:text-BrightTurquoise;
    }
    .advantages-wrapper .card .btn-links-blue img {
      @apply mb-[2px]
    }
  /* advantages End */

  /* Testimonial Start */
    .testimonial-swipe .card {
      @apply rounded-10 border-2 border-solid border-White border-opacity-10 duration-500 delay-200 ease-linear;
    }
    .testimonial-swipe .swiper-slide-active .card {
      @apply border-BrightTurquoise bg-radial drop-shadow-menu;
    }
    .test-btn-prev {
      @apply relative top-0 left-0 m-0;
    }
    .test-btn-prev:before,
    .test-btn-prev:after,
    .test-btn-next:before,
    .test-btn-next:after {
      @apply hidden;
    }
    .test-btn-next {
      @apply relative top-0 right-0 m-0;
    }
  /* Testimonial End */

  /* Breadcrumb Start */
  .breadcrumb-wrapper {
    @apply flex flex-col items-center justify-center w-full m-0 p-0 relative;
  }
  .whoweare .breadcrumb-wrapper .img {
    @apply lg:translate-x-[-180px] xlscreen:translate-x-[-90px] mdscreen2:translate-x-[-30px]
  }
  /* Breadcrumb End */

  /* zigzag content */
  /* zigzag content */
  
}

/* Responsive CSS Start */

@screen xlscreen {
  header.header .logo img {
    @apply max-h-[80px];
  }
  .navbar {
    @apply w-full h-[calc(100vh_-_200px)] left-0 px-0 absolute top-[100%] duration-300 ease-linear delay-150 max-w-none bg-transparent;
  }
  .header .navbar:before {
    content: "";
    @apply absolute -top-[15px] right-[21px] w-[22px] h-[20px] bg-[url(./../../images/polygon.svg)] bg-cover bg-no-repeat bg-center;
  }
  .navbar {
    @apply hidden;
  }
  .header .navbar.active {
    @apply block;
  }
  .header #menu-main-menu {
    @apply w-full m-0 p-0  pt-20 pb-[40px] relative overflow-y-auto overflow-x-hidden h-[calc(100vh_-_300px)] bg-White drop-shadow-dropdown rounded-10;
  }
  header.header .navbar ul li ul.sub-menu {
    @apply py-0 px-0 text-left relative top-0 flex-col w-full gap-0 order-3 hidden z-1 rounded-[0px] bg-DarkBlue drop-shadow-none;
    transform: inherit;
  }
  header.header .navbar ul li ul.sub-menu:before {
    @apply hidden
  }
  .navbar ul li:hover ul.sub-menu {
    @apply hidden;
  }
  .navbar ul > li:hover > ul.sub-menu.open,
  header.header .navbar ul li ul.sub-menu.open {
    @apply flex opacity-100 visible px-30 py-15;
  }
  .navbar ul > li {
    @apply w-full justify-start;
  }
  .navbar ul > li.has-sub {
    @apply justify-between items-center mb-0 w-full;
  }
  .navbar ul > li > a,
  header.is-sticky .navbar ul > li > a {
    @apply order-1 text-16 leading-26 py-15 px-30 text-Font;
  }
  .navbar ul > li:hover > a {
    @apply text-BoldBlue;
  }
  .navbar ul > li > ul.sub-menu ul {
    @apply gap-0;
  }
  .navbar ul > li > ul.sub-menu li a {
    @apply text-White py-0 my-[14px] hover:text-BrightTurquoise flex-row;
  }
  .navbar ul > li > ul.sub-menu li a img {
    filter: invert(35%) sepia(81%) saturate(5301%) hue-rotate(200deg) brightness(99%) contrast(101%);
  }
  /* .navbar ul > li > a.active {
    @apply text-Font;
  } */
  .navbar ul > li > .submenu-button {
    @apply order-2 block leading-0 p-10 mr-20 cursor-pointer;
  }
  .navbar ul > li > .submenu-button.submenu-opened svg {
    @apply rotate-180;
  }
  .navbar ul > li:hover > .submenu-button svg path,
  .navbar ul > li > .submenu-button.submenu-opened svg path {
    @apply fill-BoldBlue;
  }
  .navbar ul > li:first-child > ul.sub-menu li:first-child {
    @apply ml-0;
  }
  header.header .navbar-toggler span {
    @apply bg-White rounded-25 h-[4px] transition-all duration-500 ease-in-out w-[25px] rotate-0;
  }
  .menu-open .header .navbar-toggler span,
  header.is-sticky .navbar-toggler span {
    @apply bg-BrightTurquoise
  }
  header.header .navbar-toggler.menu-opened {
    @apply gap-y-[0px];
  }
  header.header .navbar-toggler.menu-opened span:first-child {
    transform: translateY(4px) rotate(45deg);
  }
  header.header .navbar-toggler.menu-opened span:nth-child(2) {
    @apply opacity-0 translate-x-minus_50;
  }
  header.header .navbar-toggler.menu-opened span:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
  }
  header.header .navbar ul li.current-menu-item a {
    @apply text-opacity-50;
  }
  .tel a {
    @apply text-16 font-900 text-BoldBlue duration-300 delay-150 ease-linear hover:text-DarkBlue;
  }
  .tel svg {
    @apply mt-[4px]
  }
}
/* Responsive CSS End */
